{% extends 'base.html' %}
{% load static %}

{% block css %}

<style>
    .card {
      margin: 0 auto;
      width: 55%;
    }
    .card-header {
      font-weight: bold;
      font-size: 24px;
    }
    .card-body {
      font-size: 18px;
    }
    .form-control {
      margin-bottom: 10px;
    }
    .btn {
      font-weight: bold;
    }




</style>

{% endblock css %}

{% block content %}

<br>
<h2 class="text-center">{{ todo_list.title }}</h2>
<div class="card mt-5">
    <div class="card-body">
        {% if todo_list.goal.all %}
        <hr>
        {% for goal in todo_list.goal.all %}
        <div class="row">
            {{ goal.id }}
            <span style="width: 75%">{{ goal.goal }}</span>
            <span style="width: 10%">{{ goal.get_priority_display  }}</span>
            <button class="btn btn-danger delete-btn" action="{% url 'delete' %}" data-id="{{ goal.id }}"
                    style="width: 10%">Delete
            </button>
        </div>
        <hr>
        {% endfor %}
        {% else %}
        <h3 class="text-center">You have no goals</h3>
        {% endif %}
    </div>
</div>
<div class="card mt-5">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.goal }}
                {{ form.priority }}
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'todo_list_detail' todo_list.id %}" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>


{% endblock content %}

{% block js %}
<script src="{% static 'js/create-goal.js' %}"></script>
{% endblock js %}
