{% extends 'base.html' %}

{% block css %} {% endblock css %}

{% block content %}
<form method="post">
    <div>
        <h2>Login</h2>
        {% csrf_token %}
        <div>
            <p class="card-text">{{form}}</p>
            <button type="submit">Login</button>
        </div>
    </div>
</form>
{% endblock content %}

{% block js %} {% endblock js %}


