{% extends 'base.html' %}

{% block js %} {% endblock js %}

{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Sign Up</button>
    </form>
</div>

{% endblock content %}

{% block css %} {% endblock css %}



