{% extends 'base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/todo_list.css' %}">

{% endblock css %}

{% block content %}
{% csrf_token %}\\\\

<div class="global-todo-div">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="{% static 'img/img_add.png' %}" class="card-img-top" alt="add">
                </a>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Create title of your task list</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="title-form" action="{% url 'task_title' %}">
                                    <div class="mb-3">
                                        <label for="task-title" class="col-form-label">Title:</label>
                                        <input type="text" class="form-control" id="task-title">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="submit-title">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for object in objects %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">
                <p>{{ object.goal.all.first }}</p>
                <p>{{ object.date }}</p>
                <a href="/todolist/{{ object.id }}/" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/title-todo-list.js' %}"></script>
{% endblock js %}