{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/todo_list_detail.css' %}">
{% endblock css %}

{% block js %}
<script src=" {% static 'js/todo_list_detail.js' %} "></script>
{% endblock js %}

{% block content %}
<br>
{% csrf_token %}
<div class="global-todo-div">
    <div class="row">
        <div class="card">
            <div class="card-body" id="div-card-body" action=".">
                <h3 class="card-title text-center">{{ object.title }}</h3>
                <p class="card-text">
                    {% for goal in object.goal.all %}
                    <p><a href='' class="goal" data-goal_id="{{ goal.id }}" value="{{ goal.completed }}">{{ goal.goal }}</a></p>
                    {% endfor %}
                        <a href="/creategoal/{{ object.id }}/" class="btn btn-primary">Edit ToDo List</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

